# ---- OS ----
.DS_Store

# ---- Node / Web (Angular 20 + Angular 8 spike) ----
**/node_modules/
clients/web/dist/
clients/web/.angular/
clients/web-angular8/**/dist/
clients/web-angular8/**/.angular/

# ---- Android (Kotlin/Compose) ----
clients/android/.gradle/
clients/android/build/
clients/android/app/build/
clients/android/.kotlin/
clients/android/local.properties
clients/android/captures/

# ---- iOS / Xcode (Swift) ----
clients/ios/Pods/
clients/ios/build/
clients/ios/DerivedData/
**/xcuserdata/
**/*.xcuserstate

# ---- Flutter ----
clients/flutter/build/
clients/flutter/.dart_tool/
clients/flutter/.flutter-plugins
clients/flutter/.flutter-plugins-dependencies
clients/flutter/ios/Pods/
clients/flutter/ios/.symlinks/
clients/flutter/ios/Flutter/Flutter.framework/
clients/flutter/ios/Flutter/Flutter.podspec

# ---- misc ----
*.log
